<!DOCTYPE html>
<html lang="en">
<%- include('pages/header'); -%>

    <body>
        
        <%- include('pages/navbardriver'); -%><header>
            <h1>Welcome, <%= user.firstName %>!</h1>
        </header>
            <%- include('pages/g2body'); -%>


    </body>

</html>