<div class="bg">
    <div class="container">
        <div class="title">DASHBOARD</div>
        <div class="subtitle">DRIVE TEST BOOKING KIOSK</div>
    </div>
    <div class="container">
        <div class="info">YOU CAN BOOK G2/G TEST FROM THE KIOSK</div><br>
        <div>YOU CAN BOOK G2/G TEST FROM THE KIOSK</div>
        <div class="post">Posted By <i>Drivertest Center</i></div>
    </div>
</div>