<nav class="navbar">
    <div class="navbar-left">
        <ul>
            <li><a href="#">Book Drive Test</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul>
           
            <li><a href="/login">Logout</a></li>
        </ul>
    </div>
</nav>
